*{
margin:0;
padding:0;
box-sizing:border-box;
}


body{

font-family:Poppins,sans-serif;

background:linear-gradient(180deg,#120018,#2b1025,#05000a);

color:white;

overflow-x:hidden;

}


section{

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

flex-direction:column;

padding:30px;

text-align:center;

}



.card{

background:rgba(255,255,255,0.1);

backdrop-filter:blur(15px);

padding:35px;

border-radius:25px;

max-width:700px;

width:90%;

box-shadow:0 0 40px rgba(255,100,170,.3);

animation:appear 1s ease;

}



h1,h2{

font-family:"Great Vibes",cursive;

color:#ff8fbd;

}


h1{

font-size:4rem;

}


h2{

font-size:3rem;

margin-bottom:20px;

}



p{

line-height:2;

font-size:18px;

}



button{

margin-top:25px;

padding:15px 35px;

border:none;

border-radius:50px;

background:#ff4f91;

color:white;

font-size:17px;

cursor:pointer;

}



button:hover{

transform:scale(1.05);

}




#hearts{

position:fixed;

inset:0;

pointer-events:none;

overflow:hidden;

z-index:10;

}



.heart{

position:absolute;

bottom:-30px;

font-size:25px;

animation:rise 7s linear forwards;

}



@keyframes rise{

0%{

transform:translateY(0) rotate(0);

opacity:1;

}


100%{

transform:translateY(-110vh) rotate(360deg);

opacity:0;

}

}



@keyframes appear{

from{

opacity:0;

transform:translateY(40px);

}

to{

opacity:1;

transform:translateY(0);

}

}
